.Weather_Background {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.Weather_Upper {
    flex: 1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Weather_Upper_Temp {
    font-size: 3rem;
    background-color: transparent;
    color: white;
    margin-top: 10px;
}

.Weather_Lower {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.Weather_Lower_Title {
    font-size: 2rem;
    background-color: transparent;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 500;
}

.Weather_Lower_Subtitle {
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    margin-bottom: 24px;
}
